:root{ /* pseudoelementos para crear variables personalizadas tambien conocidas como custom properties*/
--blanco: #ffffff;
--oscuro: #212121;
--primario: #4686b4;
--secundario: rgba(255, 193, 7, 1);
--gris: #757575;
}

html{
font-size: 62.5%;
}

body{
font-size: 16px;
font-family: "krub", sans-serif; /*colocarlo aca para que aplique a todo*/
}

/*@media (min-width: 480px){
    body {                       es la media de un tl movil 
        background-color: blue;
    }
}
                                    color de fondo de la pagina 
@media (min-width: 768px){
    body {                        aprox una table 
        background-color: red;
    }
}*/


.titulo{
text-align: center;
font-size: 4rem;
color: var(--primario);
font-family: "'Times New Roman', Times, serif"; /*fuentes seguras css.json (CSS)*/
}

.titulo span{
font-size: 2rem;
}

.contenedor{
    width: 120rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: auto;
    margin-left: auto;

    /*margin: 0 auto 0 auto;
    margin: 0 auto;*/
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    
    display: flex;
    flex-direction: column; /*por defecto es row*/
    justify-content: space-around; 
    /*aling items: center; el justify para la columna */
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
        }
}
    
@media (min-width: 1140px) {
 }

 @media (min-width: 1400px) {
 }


.navegacion-principal a {
    /*background-color: var(--primario);
    display: inline; si se pone block se pone hacia abajo*/
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;   
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

 