:root{ /* pseudoelementos para crear variables personalizadas tambien conocidas como custom properties*/
--blanco: #ffffff;
--oscuro: #212121;
--primario: #4686b4;
--secundario: rgba(255, 193, 7, 1);
--gris: #757575;
}

html{
font-size: 62.5%;
box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
font-size: 16px;
font-family: "krub", sans-serif; /*colocarlo aca para que aplique a todo*/
background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100% );
}

/*@media (min-width: 480px){
    body {                       es la media de un tl movil 
        background-color: blue;
    }
}
                                    color de fondo de la pagina 
@media (min-width: 768px){
    body {                        aprox una table 
        background-color: red;
    }
}*/


.titulo{
text-align: center;
font-size: 4rem;
color: var(--primario);
font-family: "'Times New Roman', Times, serif"; /*fuentes seguras css.json (CSS)*/
}

.titulo span{
font-size: 2rem;
}

.contenedor{
    width: 120rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: auto;
    margin-left: auto;

    /*margin: 0 auto 0 auto;
    margin: 0 auto;*/
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    
    display: flex;
    flex-direction: column; /*por defecto es row*/
    justify-content: space-around; 
    /*aling items: center; el justify para la columna */
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
        }
}
    
@media (min-width: 1140px) {
 }

 @media (min-width: 1400px) {
 }


.navegacion-principal a {
    /*background-color: var(--primario);
    display: inline; si se pone block se pone hacia abajo*/
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;   
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url(../Imagen\ de\ Portada/PaginaWeb.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 450px;
    padding: 20px;
    position:relative;
} 

.contenido-hero{
    position:absolute;
    /*background-color: rgba(0, 0, 0, 0.7);  otra opcion de transparencia */
    background-color: rgb(0 0 0 /70%);
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;

    /*alienar horizontal y vertical*/
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

/* SOLUCIÓN PARA REDUCIR EL TAMAÑO DE LA IMAGEN ROJA (icon.svg) */
.contenido-hero img {
    /* **CLAVE:** Define un tamaño. Ajusta el valor (200px) a tu gusto. */
    width: 35px; 
    height: auto; /* Mantiene la proporción para que no se vea estirada */
    
    /* Centrado opcional, ya que .contenido-hero usa flexbox */
    margin: 1rem auto;
}

.contenido-hero p{
    color: var(--blanco)    ;
}

h1{
font-size: 3.8rem;
}

h2{
font-size: 2.8rem;
}

h3{
font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
} 

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem ;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 480px ) {
     .boton{
    width: auto; /*resetear el tamaño*/
     }
}

.sombra{
    box-shadow: 0px 5px 15px -3px #707070;
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
}
