:root{ /* pseudoelementos para crear variables personalizadas tambien conocidas como custom properties*/
--blanco: #ffffff;
--oscuro: #212121;
--primario: #4686b4;
--secundario: rgba(255, 193, 7, 1);
--gris: #757575;
}

html{
font-size: 62.5%;
}

body{
font-size: 16px;
font-family: "krub", sans-serif; /*colocarlo aca para que aplique a todo*/
}

.titulo{
text-align: center;
font-size: 4rem;
color: var(--primario);
font-family: "'Times New Roman', Times, serif"; /*fuentes seguras*/
}

.titulo span{
font-size: 2rem;
}
 